{% extends 'base.html.twig' %}

{% block title %}Plėtra{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1><p><img src="info.png" style="max-width:200px;"></p></h1>
</div>


<div class="example-wrapper">

  <p>Dėkojame, Anketa pateikta sėkmingai!</p>
  <p>Galite peržiūrėti pateiktas anketas "Mano anketos" </p>

  <a href="/"><button>Pildyti naują</button></a>

</div>

{% endblock %}

