{% extends 'base.html.twig' %}

{% block title %}Plėtra{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1><p><img src="info.png" style="max-width:200px;"></p></h1>
</div>


<div class="example-wrapper">

  <p>Sveikiname užsiregistravus!</p>
  <p>Į Jūsų pašto dėžutę buvo išsiųsta el. pašto patvirtinimo nuoroda. </p>
  <p>Aktyvuokite vartotoją, paspausdami nuorodą savo nurodytame el. pašte. </p>
  <p>*<small>Nuoroda galioja 1 valandą po registracijos. </small></p>
  

</div>

{% endblock %}