<h1>Sveiki! Prašome patvirtinti savo el. pašto adresą!</h1>

<p>
    Patvirtinkite savo el. pašto adresą paspausdami žemiau pateiktą nuorodą: <br><br>
    <a href="{{ signedUrl|raw }}">Patvirtini elektronio pašto adresą</a>.
    Šios nuorodos galiojimas baigsis {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Linkėjimai!
</p>
