<h1>Sveiki!</h1>

<div class="example-wrapper">
    <div class="code z-depth-5">

        <p>Slaptažodžio atkūrimui, paspauskite žemiau esančią nuorodą.</p>

        <a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>

        <p>Ši nuoroda galio 1 valandą.</p>

        <p>Linkėjimai!<br>Čia market<br>IT Skyrius</p>

    </div>
</div>