{% extends 'base.html.twig' %}

{% block title %}Čia Plėtra{% endblock %}

{% block body %}

<div class="example-wrapper">
    

    <div class="prisijungti">
        <a href="/login">
            <p><img src="login.jpg"></p>
            <p><button>Prisijungti</button></p>
        </a>
    </div>

    <div class="registruotis">
        <a href="/register">
            <p><img src="login.jpg"></p>
            <p><button>Registruotis</button></p>
        </a>
    </div>
    
</div>
{% endblock %}
